<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Basic Details</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <form>
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Mail</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Class Teacher Of</ion-label>
        <ion-select placeholder="Select Class">
          <ion-select-option [value]="'None'">None</ion-select-option>
          <ion-select-option [value]="'Nursery'">Nursery</ion-select-option>
          <ion-select-option [value]="'LKG'">LKG</ion-select-option>
          <ion-select-option [value]="'UKG'">UKG</ion-select-option>
          <ion-select-option [value]="'1ˢᵗ Class'">1ˢᵗ Class</ion-select-option>
          <ion-select-option [value]="'2ⁿᵈ Class'">2ⁿᵈ Class</ion-select-option>
          <ion-select-option [value]="'3ʳᵈ Class'">3ʳᵈ Class</ion-select-option>
          <ion-select-option [value]="'4ᵗʰ Class'">4ᵗʰ Class</ion-select-option>
          <ion-select-option [value]="'5ᵗʰ Class'">5ᵗʰ Class</ion-select-option>
          <ion-select-option [value]="'6ᵗʰ Class'">6ᵗʰ Class</ion-select-option>
          <ion-select-option [value]="'7ᵗʰ Class'">7ᵗʰ Class</ion-select-option>
          <ion-select-option [value]="'8ᵗʰ Class'">8ᵗʰ Class</ion-select-option>
          <ion-select-option [value]="'9ᵗʰ Class'">9ᵗʰ Class</ion-select-option>
          <ion-select-option [value]="'10ᵗʰ Class'">10ᵗʰ Class</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Teachings</ion-label>
        <ion-select placeholder="Select Subject" multiple="true">
          <ion-select-option [value]="'Telugu'">Telugu</ion-select-option>
          <ion-select-option [value]="'Sanskrit'">Sanskrit</ion-select-option>
          <ion-select-option [value]="'Hindi'">Hindi</ion-select-option>
          <ion-select-option [value]="'English'">English</ion-select-option>
          <ion-select-option [value]="'Mathematics'">Mathematics</ion-select-option>
          <ion-select-option [value]="'Physical Science'">Science</ion-select-option>
          <ion-select-option [value]="'Natural Science'">Science</ion-select-option>
          <ion-select-option [value]="'Computer Science'">Computer Science</ion-select-option>
          <ion-select-option [value]="'Social'">Social</ion-select-option>
          <ion-select-option [value]="'General Knowledge'">General Knowledge</ion-select-option>
          <ion-select-option [value]="'Physical Training'">Physical Training</ion-select-option>
          <ion-select-option [value]="'Abacus'">Abacus</ion-select-option>
          <ion-select-option [value]="'Geeta'">Geeta</ion-select-option>
          <ion-select-option [value]="'MPT'">MPT</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-button slot="start" fill="outline" class="ion-margin-top">
        <ion-label>Save</ion-label>
      </ion-button>
    </form>
  </ion-card-content>
</ion-card>
