<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Add/Edit Teacher</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-row class="ion-justify-content-center fill">
    <ion-col sizeSm="12" sizeMd="4">
      <form [formGroup]="teacherForm" (ngSubmit)="onSubmit()">
        <ion-item>
          <ion-label position="floating">Name</ion-label>
          <ion-input formControlName="name" type="text"></ion-input>
        </ion-item>
        <ion-row class="error-message">
          <ion-col>
            <ion-row
              *ngIf="teacherForm.controls.name.errors?.required&&teacherForm.controls.name.touched"
              color="danger">It is required to enter the  Name</ion-row>
          </ion-col>
        </ion-row>
        <ion-item>
          <ion-label position="floating">Mail</ion-label>
          <ion-input formControlName="mail" type="text"></ion-input>
        </ion-item>
        <ion-row class="error-message">
          <ion-col>
            <ion-row
              *ngIf="teacherForm.controls.mail.errors?.required&&teacherForm.controls.mail.touched"
              color="danger">It is required to enter the Mail</ion-row>
          </ion-col>
        </ion-row>
        <ion-item>
          <ion-label position="floating">Phone</ion-label>
          <ion-input formControlName="phone" type="text"></ion-input>
        </ion-item>
        <ion-row class="error-message">
          <ion-col>
            <ion-row
              *ngIf="teacherForm.controls.phone.errors?.required&&teacherForm.controls.phone.touched"
              color="danger">It is required to enter the Phone</ion-row>
          </ion-col>
        </ion-row>
        <ion-item>
          <ion-label position="floating">Class</ion-label>
          <ion-select #class formControlName="class" placeholder="Select Class">
            <ion-select-option *ngFor="let class of classOptions" [value]="class.value">{{class.label}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-row class="error-message">
          <ion-col>
            <ion-row *ngIf="teacherForm.controls.class.errors?.required&&teacherForm.controls.class.touched"
              color="danger">It is required to select a Class</ion-row>
          </ion-col>
        </ion-row>
        <ion-item>
          <ion-label position="floating">Section</ion-label>
          <ion-select [disabled]="class.value==='None'" formControlName="section" placeholder="Select Section">
            <ion-select-option *ngFor="let section of sectionOptions" [value]="section.value">{{section.label}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-row class="error-message">
          <ion-col>
            <ion-row *ngIf="teacherForm.controls.section.errors?.required&&teacherForm.controls.section.touched"
              color="danger">It is required to select a Section</ion-row>
          </ion-col>
        </ion-row>
        <ion-item>
          <ion-label position="floating">Subjects</ion-label>
          <ion-select multiple="true" formControlName="subjects" placeholder="Select Subject">
            <ion-select-option *ngFor="let subject of subjectOptions" [value]="subject.value">{{subject.label}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-row class="error-message">
          <ion-col>
            <ion-row *ngIf="teacherForm.controls.subjects.errors?.required&&teacherForm.controls.subjects.touched"
              color="danger">It is required to select a Subject</ion-row>
          </ion-col>
        </ion-row>
        <ion-button [disabled]="!teacherForm.valid" class="ion-margin" fill="outline" type="submit">
          <ion-label>{{this.editTeacher.id?'UPDATE':'ADD'}}</ion-label>
        </ion-button>
      </form>
    </ion-col>
  </ion-row>
</ion-content>
