<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Schedule</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="doDismissModal()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-justify-content-center fill">
    <ion-col sizeSm="12" sizeMd="4">
      <form class="ion-padding" [formGroup]="scheduleForm" (ngSubmit)="onSubmit()">
        <ion-item>
          <ion-label position="floating">Day</ion-label>
          <ion-select formControlName="day" placeholder="Select Day">
            <ion-select-option *ngFor="let day of dayOptions" [value]="day.value">{{day.label}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-row class="error-message">
          <ion-col>
            <ion-row *ngIf="scheduleForm.controls.day.errors?.required&&scheduleForm.controls.day.touched"
              color="danger">It is required to select a Day</ion-row>
          </ion-col>
        </ion-row>
        <ion-item>
          <ion-label position="floating">Class</ion-label>
          <ion-select formControlName="class" placeholder="Select Class">
            <ion-select-option *ngFor="let class of classOptions" [value]="class.value">{{class.label}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-row class="error-message">
          <ion-col>
            <ion-row *ngIf="scheduleForm.controls.class.errors?.required&&scheduleForm.controls.class.touched"
              color="danger">It is required to select a Class</ion-row>
          </ion-col>
        </ion-row>
        <ion-item>
          <ion-label position="floating">Section</ion-label>
          <ion-select formControlName="section" placeholder="Select Section">
            <ion-select-option *ngFor="let section of sectionOptions" [value]="section.value">{{section.label}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-row class="error-message">
          <ion-col>
            <ion-row *ngIf="scheduleForm.controls.section.errors?.required&&scheduleForm.controls.section.touched"
              color="danger">It is required to select a Section</ion-row>
          </ion-col>
        </ion-row>
        <ion-item>
          <ion-label position="floating">Period</ion-label>
          <ion-select formControlName="period" placeholder="Select Period">
            <ion-select-option *ngFor="let period of periodOptions" [value]="period.value">{{period.value}}{{period.value|rank}} Period</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-row class="error-message">
          <ion-col>
            <ion-row *ngIf="scheduleForm.controls.period.errors?.required&&scheduleForm.controls.period.touched"
              color="danger">It is required to select a Period</ion-row>
          </ion-col>
        </ion-row>
        <ion-item>
          <ion-label position="floating">Subject</ion-label>
          <ion-select formControlName="subject" placeholder="Select Subject">
            <ion-select-option *ngFor="let subject of subjectOptions" [value]="subject.value">{{subject.label}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-row class="error-message">
          <ion-col>
            <ion-row *ngIf="scheduleForm.controls.subject.errors?.required&&scheduleForm.controls.subject.touched"
              color="danger">It is required to select Subject</ion-row>
          </ion-col>
        </ion-row>
        <ion-button class="ion-margin-top" fill="outline" color="primary">
          <ion-label>Save</ion-label>
        </ion-button>
      </form>
    </ion-col>
  </ion-row>
</ion-content>
