<ion-card>
  <ion-card-header>
    <ion-card-subtitle>My Schedule</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content class="ion-no-padding">
    <ion-accordion-group [value]="today">
      <ion-accordion [value]="1">
        <ion-item slot="header">
          <ion-label>Monday</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <app-schedule-item-list></app-schedule-item-list>
        </div>
      </ion-accordion>
      <ion-accordion [value]="2">
        <ion-item slot="header">
          <ion-label>Tuesday</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <app-schedule-item-list></app-schedule-item-list>
        </div>
      </ion-accordion>
      <ion-accordion [value]="3">
        <ion-item slot="header">
          <ion-label>Wednesday</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <app-schedule-item-list></app-schedule-item-list>
        </div>
      </ion-accordion>
      <ion-accordion [value]="4">
        <ion-item slot="header">
          <ion-label>Thursday</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <app-schedule-item-list></app-schedule-item-list>
        </div>
      </ion-accordion>
      <ion-accordion [value]="5">
        <ion-item slot="header">
          <ion-label>Friday</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <app-schedule-item-list></app-schedule-item-list>
        </div>
      </ion-accordion>
      <ion-accordion [value]="6">
        <ion-item slot="header">
          <ion-label>Saturday</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <app-schedule-item-list></app-schedule-item-list>
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </ion-card-content>
</ion-card>
