<ion-menu side="start" content-id="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item routerLink="/leisures">
        <ion-icon name="calendar-clear-outline" slot="start"></ion-icon>
        <ion-label>Leisures</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>


<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button auto-hide="false"></ion-menu-button>
      </ion-buttons>
      <ion-title>My Profile</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-row class="ion-justify-content-center fill">
      <ion-col sizeSm="12" sizeMd="4">
        <app-basic-details></app-basic-details>
        <app-schedule></app-schedule>
      </ion-col>
    </ion-row>
  </ion-content>
</div>
