<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Admin Menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-justify-content-center fill">
    <ion-col sizeSm="12" sizeMd="4" class="ion-no-padding">
      <ion-list>
        <ion-item class="ion-no-padding ion-activatable ripple-parent" detail="true" routerLink="/admin-menu/teachers">
          <ion-ripple-effect type="unbounded"></ion-ripple-effect>
          <div class="list_item">
            <div class="list_item_title">Manage Teachers</div>
          </div>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-content>
