<ion-content>
  <ion-list>
    <ion-list-header class="ion-no-padding ion-no-margin">
      <ion-toolbar>
        <ion-searchbar></ion-searchbar>
      </ion-toolbar>
    </ion-list-header>
      <ion-item class="ion-no-padding ion-activatable ripple-parent" *ngFor="let skool of skools" (click)="doConfirmRegister(skool)">
        <ion-ripple-effect type="unbounded"></ion-ripple-effect>
        <div class="list_item ion-margin">
          <div class="list_item_title ion-text-nowrap">{{skool.name}}</div>
          <div class="list_item_subtitle">Branch : {{skool.branch}}</div>
        </div>
        <div slot="end" class="list_item_subtitle flex-column">
          <span>Reg No</span>
          <span>{{skool.registerCode}}</span>
        </div>
      </ion-item>
  </ion-list>
</ion-content>
