<ion-card>
  <ion-card-header>
    <ion-card-subtitle color="tertiary">Basic Details</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <form [formGroup]="detailsForm" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input type="text" formControlName="name"></ion-input>
      </ion-item>
      <ion-row class="error-message">
        <ion-col>
          <ion-row *ngIf="detailsForm.controls.name.errors?.required&&detailsForm.controls.name.touched"
            color="danger">It is required to enter the Name</ion-row>
        </ion-col>
      </ion-row>
      <ion-item>
        <ion-label position="floating">Mail</ion-label>
        <ion-input formControlName="mail" type="mail"></ion-input>
      </ion-item>
      <ion-row class="error-message">
        <ion-col>
          <ion-row *ngIf="detailsForm.controls.mail.errors?.required&&detailsForm.controls.mail.touched"
            color="danger">It is required to enter the E-Mail ID</ion-row>
          <ion-row *ngIf="detailsForm.controls.mail.errors?.email&&detailsForm.controls.mail.touched"
            color="danger">Please enter a valid E-Mail ID</ion-row>
        </ion-col>
      </ion-row>
      <ion-item>
        <ion-label position="floating">Class Teacher Of</ion-label>
        <ion-select formControlName="classTeacherOf" placeholder="Select Class">
          <ion-select-option *ngFor="let class of classOptions" [value]="class.value">{{class.label}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-row class="error-message">
        <ion-col>
          <ion-row *ngIf="detailsForm.controls.classTeacherOf.errors?.required&&detailsForm.controls.classTeacherOf.touched"
            color="danger">It is required to select the Class</ion-row>
        </ion-col>
      </ion-row>
      <ion-item>
        <ion-label position="floating">Teachings</ion-label>
        <ion-select formControlName="teachings" placeholder="Select Subject" multiple="true">
          <ion-select-option *ngFor="let subject of subjectOptions" [value]="subject.value">{{subject.label}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-row class="error-message">
        <ion-col>
          <ion-row *ngIf="detailsForm.controls.teachings.errors?.required&&detailsForm.controls.teachings.touched"
            color="danger">It is required to select Teachings</ion-row>
        </ion-col>
      </ion-row>
      <ion-button slot="start" fill="outline" class="ion-margin-top">
        <ion-label>Save</ion-label>
      </ion-button>
    </form>
  </ion-card-content>
</ion-card>
