<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Registration
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-row class="ion-justify-content-center fill">
    <ion-col sizeSm="12" sizeMd="4">
      <form [formGroup]="skoolRegisterForm" (ngSubmit)="onSubmit()">
        <ion-item>
          <ion-label position="floating">School Name</ion-label>
          <ion-input formControlName="name" type="text"></ion-input>
        </ion-item>
        <ion-row class="error-message">
          <ion-col>
            <ion-row
              *ngIf="skoolRegisterForm.controls.name.errors?.required&&skoolRegisterForm.controls.name.touched"
              color="danger">It is required to enter the School Name</ion-row>
          </ion-col>
        </ion-row>
        <ion-item>
          <ion-label position="floating">Branch Name</ion-label>
          <ion-input formControlName="branch" type="text"></ion-input>
        </ion-item>
        <ion-row class="error-message">
          <ion-col>
            <ion-row
              *ngIf="skoolRegisterForm.controls.branch.errors?.required&&skoolRegisterForm.controls.branch.touched"
              color="danger">It is required to enter the Branch Name</ion-row>
          </ion-col>
        </ion-row>
        <ion-item>
          <ion-label position="floating">Registration Code</ion-label>
          <ion-input formControlName="regCode" type="text"></ion-input>
        </ion-item>
        <ion-row class="error-message">
          <ion-col>
            <ion-row
              *ngIf="skoolRegisterForm.controls.regCode.errors?.required&&skoolRegisterForm.controls.regCode.touched"
              color="danger">It is required to enter the Registration Code</ion-row>
          </ion-col>
        </ion-row>
        <ion-item>
          <ion-label position="floating">Postal Code</ion-label>
          <ion-input formControlName="postalCode" type="number"></ion-input>
        </ion-item>
        <ion-row class="error-message">
          <ion-col>
            <ion-row
              *ngIf="skoolRegisterForm.controls.postalCode.errors?.required&&skoolRegisterForm.controls.postalCode.touched"
              color="danger">It is required to enter the Postal Code</ion-row>
          </ion-col>
        </ion-row>
        <ion-item>
          <ion-label position="floating">School Address</ion-label>
          <ion-textarea formControlName="address" type="text"></ion-textarea>
        </ion-item>
        <ion-row class="error-message">
          <ion-col>
            <ion-row
              *ngIf="skoolRegisterForm.controls.address.errors?.required&&skoolRegisterForm.controls.address.touched"
              color="danger">It is required to enter the Address Code</ion-row>
          </ion-col>
        </ion-row>
        <ion-button type="submit" fill="outline" class="ion-margin">
          <ion-label>Submit</ion-label>
        </ion-button>
      </form>
    </ion-col>
  </ion-row>
</ion-content>
