<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Registration
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="skool">
        <ion-icon name="business-outline"></ion-icon>
        <ion-label>School</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="user">
        <ion-icon name="person-add-outline"></ion-icon>
        <ion-label>User</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
