<ion-row>
  <ion-col>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle color="tertiary">Teachings</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-badge>English</ion-badge>
        <ion-badge>English</ion-badge>
        <ion-badge>English</ion-badge>
        <ion-badge>English</ion-badge>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle color="tertiary">Classes</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-badge>English</ion-badge>
        <ion-badge>English</ion-badge>
        <ion-badge>English</ion-badge>
        <ion-badge>English</ion-badge>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle color="tertiary">Leisures</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-badge>1St Period</ion-badge>
        <ion-badge>1St Period</ion-badge>
        <ion-badge>1St Period</ion-badge>
        <ion-badge>1St Period</ion-badge>
      </ion-card-content>
    </ion-card>
  </ion-col>
</ion-row>
