<ion-list>
  <ion-item  class="list_item ion-no-margin ion-no-padding ion-activatable ripple-parent" *ngFor="let sch of schedule;let i=index" (click)="doActionSheet(schedule)">
    <ion-ripple-effect type="unbounded"></ion-ripple-effect>
    <div class="flex-column">
      <div class="list_item_title">{{sch.period}}<sup>{{sch.period|rank}}</sup></div>
      <div class="list_item_subtitle">Period</div>
    </div>
    <div class="flex-column flex">
      <div class="list_item_title">{{sch.subject}}</div>
      <div class="list_item_subtitle">{{sch.class}}</div>
    </div>
    <div class="flex-column">
      <div class="list_item_title">{{sch.section}}</div>
      <div class="list_item_subtitle">Section</div>
    </div>
  </ion-item>
</ion-list>
<ion-row *ngIf="mode==='edit'" class="ion-justify-content-end">
  <ion-button fill="clear" size="small" (click)="doEditSchedule(null)">
    <ion-icon slot="start" name="add-outline"></ion-icon>
    <ion-label>Add</ion-label>
  </ion-button>
</ion-row>
