<ion-list>
  <ion-item [style.marginLeft]="mode==='edit'?'16px':'0px'" class="list_item ion-no-margin ion-no-padding ion-activatable ripple-parent" *ngFor="let schedule of mySchedule;let i=index" (click)="doActionSheet(schedule)">
    <ion-ripple-effect type="unbounded"></ion-ripple-effect>
    <div class="flex-column">
      <div class="list_item_title">{{schedule.period}}<sup>{{schedule.period|rank}}</sup></div>
      <div class="list_item_subtitle">Period</div>
    </div>
    <div class="flex-column flex">
      <div class="list_item_title">{{schedule.subject}}</div>
      <div class="list_item_subtitle">{{schedule.class}}</div>
    </div>
    <div class="flex-column">
      <div class="list_item_title">{{schedule.section}}</div>
      <div class="list_item_subtitle">Section</div>
    </div>
  </ion-item>
</ion-list>
<ion-row *ngIf="mode==='edit'" class="ion-justify-content-end">
  <ion-button fill="clear" size="small" (click)="doEditSchedule(null)">
    <ion-icon slot="start" name="add-outline"></ion-icon>
    <ion-label>Add</ion-label>
  </ion-button>
</ion-row>
