<ion-list>
  <ion-item-sliding *ngFor="let schedule of mySchedule;let i=index">
    <ion-item-options side="start" expandable>
      <ion-item-option color="secondary" (click)="doEditSchedule(schedule)">
        <ion-icon slot="start" name="create-outline"></ion-icon>
        <ion-label>Edit</ion-label>
      </ion-item-option>
    </ion-item-options>
    <ion-item class="list_item ion-no-margin ion-no-padding">
      <div  class="flex-column">
        <div class="list_item_title">{{schedule.period}}<sup>{{schedule.period|rank}}</sup></div>
        <div class="list_item_subtitle">Period</div>
      </div>
      <div class="flex-column flex">
        <div class="list_item_title">{{schedule.subject}}</div>
        <div class="list_item_subtitle">{{schedule.class}}</div>
      </div>
      <div class="flex-column">
        <div class="list_item_title">{{schedule.section}}</div>
        <div class="list_item_subtitle">Section</div>
      </div>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option color="danger" (click)="doDeleteSchedule(schedule)">
        <ion-icon slot="start" name="trash"></ion-icon>
        <ion-label>Delete</ion-label>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>
<ion-row class="ion-justify-content-end">
  <ion-button fill="clear" size="small" (click)="doEditSchedule(null)">
    <ion-icon slot="start" name="add-outline"></ion-icon>
    <ion-label>Add</ion-label>
  </ion-button>
</ion-row>
