<ion-header>
  <ion-toolbar color="primary">
    <ion-back-button slot="start" defaultHref="/profile"></ion-back-button>
    <ion-title>Leisures</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-justify-content-center fill">
    <ion-col sizeSm="12" sizeMd="4">
      <ion-list class="ion-no-padding ion-no-margin">
        <ion-item *ngFor="let leisure of leisures" class="ion-no-padding ion-no-margin">
          <div class="list_item ion-margin">
            <div class="list_item_title ion-text-nowrap">{{leisure.name}}</div>
            <ion-row>
              <ion-badge color="secondary" style="margin: 5px;" *ngFor="let schedule of leisure.schedules">{{schedule.period}}{{schedule.period|rank}} Period</ion-badge>
            </ion-row>
          </div>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-content>
